.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(248, 248, 248);
}

.main {
  max-width: 600px;
  width: 100%;
}

.title {
  position: absolute;
  text-align: center;
  top: 100px;
}

.list {
  position: absolute;
  top: 200px;
  width: '100%';
  background-color: rgb(255, 255, 255);
}

.listItem {
  gap: 5px;
  width: 400px;
}

.divider {
  color: black;
  margin: 15px;
}

.status {
  margin-top: 5px;
  font-size: 12px;
}

@media (max-width: 600px) {
  .main {
    align-items: center;
  }

  .main ol {
    text-align: center;
  }

  .ctas {
    flex-direction: column;
  }

  .listItem {
    gap: 5px;
    width: 300px;
  }
}
